@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-darkbrown font-sans antialiased overflow-x-hidden;
  }
  @media (pointer: fine) {
    body:not(.admin-override) {
      cursor: none;
    }
    body:not(.admin-override) * {
      cursor: none !important;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
